<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Realizar Perguntas</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarpergunta">
                    <label for="">Título</label>
                    <input type="text" placeholder="Título" name="" id="" class="form-control">
                    <br><label for="">Descrição</label>
                    <textarea name="" placeholder="Descreva a pergunta" id="" cols="30" rows="5" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-dark">Perguntar</button>
                </form>
             </div>
         </div>     
    </div>  
</body>

<%- include ('partials/footer.ejs') %>




    
